# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
# Ignore paths that contain user-generated content.
#sites/*/files
sites/*/files/tmp
sites/*/files/.htaccess
sites/*/private
#ignore backups folder
backups
